<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Band</title>
</head>
<body>
    <h3>Welcome</h3>
    <form method = "POST" onsubmit="alert('added')">
        <input type = "text" name = "bandName" placeholder="Add Band">
        <input type = "submit">
    </form>
</body>
</html>